

 <!-- blog-content -->
  <section class="hero-section about single-blog blog-content gap no-top">
  	<div class="container">
  		<div class="row">
  			<div>
  				
	  			<h1>Firma Bilgileri</h1>
                  <form class="blog-form">
                      <div class="row">
                      <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>
                         <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>
                         <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>
                         <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>
                         <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>
                           <div class="col-2"> 
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div></div>

                    </div>
                      @*<div class="restaurant">
                      
			            <div class="name-form">
                        <label for="fname">Kategori:</label>
                        <div class="nice-select-one">
								<select id="kategoriid" class="nice-select Advice">
								  <option value="0">İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">Ürün:</label>
                        <div class="nice-select-one">
								<select id="ürünid" class="nice-select Advice">
								  <option value="0">İlçe Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div>

                        
			            <div class="name-form">
                        <label for="fname">Harita İl:</label>
                        <div class="nice-select-one">
								<select id="haritail" class="nice-select Advice">
								  <option value="0">Harita İl Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div>

			            <div class="name-form">
                        <label for="fname">Harita İlçe:</label>
                        <div class="nice-select-one">
								<select id="haritailce" class="nice-select Advice">
								  <option value="0">Harita İlçe Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div>
			            <div class="name-form">
                        <label for="fname">Harita İlçe:</label>
                        <div class="nice-select-one">
								<select id="haritailce" class="nice-select Advice">
								  <option value="0">Harita İlçe Seçiniz</option>
								</select>
						</div>
                        <br><br>
                        </div>

			           
			            <div class="name-form">
                        <label for="fname">KoordinatX:</label>
                        <input type="text" name="fname" placeholder="KoordinatX giriniz." id="kx" >
                        <br><br>
                        </div>
			           

  		              </div>*@
                       
                    </form>
                    <button onclick=firmaKaydet() class="button-price mt-3">Kaydet</button>	
	  			
  			</div>
  		</div>
  	</div>
  </section>