 <!-- blog-content -->
  <section class="hero-section about single-blog blog-content gap no-top">
  	<div class="container">
  		<div class="row">
  			<div class="offset-xl-2 col-xl-8 col-lg-12">
  				
	  			
	  			<div class="comment" id="counttext">
					
				</div>
	  			<ul class="comment gap no-top" id="mesajlist">

	  				
	  				
	  			</ul>
	  			
  			</div>
  		</div>
  	</div>
  </section>


  
  <script>
    var hst = "@Url.Action("getMesajList", "Mesaj")";
    var hst2 = "@Url.Action("Detay", "Mesaj")";
	var user=@Html.Raw(Json.Serialize(@Model.user));
	var tedrol=@Model.tedarikcirol;
</script>
	<script src="~/assets/js/mesajlist.js"></script>